@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn {
  @apply border border-gray-200 rounded shadow-sm outline-none bg-transparent px-4 py-1 text-gray-600 text-sm;
}

.mode-dark .btn {
  @apply border-dark-200 text-gray-200;
}

.btn:hover {
  @apply shadow outline-none;
}

.btn:focus {
  @apply shadow outline-none;
}

.dragging {
  -webkit-app-region: drag;
}

.mode-dark {
  background: #222;
}

.non-dragging {
  -webkit-app-region: no-drag;
}

.iconify.svg-loading {
  line-height: 1;
  height: 1em;
  top: 0;
  vertical-align: top;
}